
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-text-charcoal bg-background-ivory-white font-sans;
}

::selection {
  background-color: #B0BEC5;
}

@keyframes marquee {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100vw); }
}

.marquee {
  animation: marquee 15s linear infinite;
}
