name: CI/CD Pipeline

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  backend-ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Tests
      run: |
        python manage.py test

    - name: Build Docker Image
      run: |
        docker build -t backend:latest .

  frontend-ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "./Frontend 1"

    steps:
    - uses: actions/checkout@v4

    - name: Set up Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: "20"
        cache: 'npm'
        cache-dependency-path: "./Frontend 1/package-lock.json"

    - name: Install dependencies
      run: npm ci

    - name: Build Frontend
      run: npm run build

    - name: Build Docker Image
      run: |
        docker build -t frontend:latest .
